[submodule "dashboard-ui"]
	path = dashboard-ui
	url = https://github.com/atriva-ai/retail-dashboard.git
[submodule "dashboard-backend"]
	path = dashboard-backend
	url = https://github.com/atriva-ai/retail-backend.git
[submodule "services/ai-inference"]
	path = services/ai-inference
	url = https://github.com/atriva-ai/atriva-ai-openvino.git
[submodule "services/video-pipeline"]
	path = services/video-pipeline
	url = https://github.com/atriva-ai/atriva-video-pipe-ffmpeg.git
